apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
labels:
  - pairs:
      environment: dev
patches:
  - path: service-account-patch.yaml
  - path: secret-provider-class-patch.yaml
  - path: sc-azuredocsdbconnection-secret-patch.yaml
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: webui-ingress
  - path: openai-deployment-patch.yaml

# configMapGenerator:
#   - name: env-config
#     literals:
#       - ENVIRONMENT=dev

# replicas:
#   - name: webui
#     count: 1
