apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azuredocs-secrets
  namespace: azuredocs-app
spec:
  parameters:
    clientID: "a1e3977e-3def-4e89-97a0-a4c5dcf9158b"
    objects: |
      array:
        - |
          objectName: admin-password
          objectType: secret
          objectVersion: ""
        - |
          objectName: admin-username
          objectType: secret
          objectVersion: ""
        - |
          objectName: app-secret-key
          objectType: secret
          objectVersion: ""
        - |
          objectName: rabbitmq-username
          objectType: secret
          objectVersion: ""
        - |
          objectName: rabbitmq-password
          objectType: secret
          objectVersion: ""
        - |
          objectName: github-token
          objectType: secret
          objectVersion: ""
        - |
          objectName: rabbitmq-connection-string
          objectType: secret
          objectVersion: ""
        - |
          objectName: linuxdocs-ghapp-appid
          objectType: secret
          objectVersion: ""
        - |
          objectName: linuxdocs-ghapp-privatekey
          objectType: secret
          objectVersion: ""
        - |
          objectName: linuxdocs-ghoauth-clientid
          objectType: secret
          objectVersion: ""
        - |
          objectName: linuxdocs-ghoauth-clientsecret
          objectType: secret
          objectVersion: ""
        - |
          objectName: github-sync-token
          objectType: secret
          objectVersion: ""
        - |
          objectName: appinsights-connection-string-dev
          objectType: secret
          objectVersion: ""
  secretObjects:
  - secretName: azuredocs-secrets
    type: Opaque
    data:
    - objectName: admin-password
      key: ADMIN_PASSWORD
    - objectName: admin-username
      key: ADMIN_USERNAME
    - objectName: app-secret-key
      key: APP_SECRET_KEY
    - objectName: rabbitmq-username
      key: RABBITMQ_USERNAME
    - objectName: rabbitmq-password
      key: RABBITMQ_PASSWORD
    - objectName: github-token
      key: GITHUB_TOKEN
    - objectName: rabbitmq-connection-string
      key: RABBITMQ_CONNECTION_STRING
    - objectName: linuxdocs-ghapp-appid
      key: GITHUB_APP_ID
    - objectName: linuxdocs-ghapp-privatekey
      key: GITHUB_PRIVATE_KEY
    - objectName: linuxdocs-ghoauth-clientid
      key: GITHUB_CLIENT_ID
    - objectName: linuxdocs-ghoauth-clientsecret
      key: GITHUB_CLIENT_SECRET
    - objectName: github-sync-token
      key: GITHUB_SYNC_TOKEN
    - objectName: appinsights-connection-string-dev
      key: APPLICATIONINSIGHTS_CONNECTION_STRING
