apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azuredocs-secrets
  namespace: azuredocs-app
spec:
  parameters:
    clientID: "a1e3977e-3def-4e89-97a0-a4c5dcf9158b"
