apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
  namespace: azuredocs-app
spec:
  template:
    spec:
      containers:
        - name: rabbitmq
          resources:
            requests:
              memory: "1Gi"
              cpu: "200m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
          livenessProbe:
            initialDelaySeconds: 60
            timeoutSeconds: 30
          readinessProbe:
            initialDelaySeconds: 45
            timeoutSeconds: 15
